/* universal styling - box-sizing */
* {
    box-sizing: border-box;
}
/* body - font family, display to center vert and hor, height set to full height, margin removed */
body {
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
}

/* panels container - display set to have items/panels side by side, 90% of width */
.container {
    display: flex;
    width: 90vw;
}

/* target panels class - background size cover, bg position center, bg not repeating, color of text to white, heigh set to 80%, border radius, cursor set to pointer, flex property set equal on all (will be multiplied on active class), margin to give space between, position so that we can place h3 text, transition on flex propery (.7 sec and ease-in) */
.panel {
    background-size: cover;
    background-position: center;
    background: no-repeat;
    color: #fff;
    height: 80vh;
    margin: 10px;
    border-radius: 50px;
    cursor: pointer;
    flex: .5;
    position: relative;
    transition: flex .7s ease-in;
}
/* target the h3 within panel - font size, position, position bottom and left, eliminate margin, hide from view (will show on active) */
.panel h3 {
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 10px;
    margin: 0;
    opacity: 0;
}

/* Target the active class on panel - set flex to make image larger than the flex on .panel */
.panel.active {
    flex: 5;
}

/* target the h3 within the active panel - show the text, set transition to target opacity property (take place in .3s, use ease-in, delay .4s) */
.active h3 {
    opacity: 1;
    transition: opacity .7s ease-in .4s;
}

/* Create a media query for smaller than 400px that sets the container to full width and hides the 4th and fifth panel */
@media(max-width: 400px) {
  .container {
      width: 100vw;
  }
  .panel:nth-of-type(4), .panel:nth-of-type(5) {
      display: none;
  }
}