@import url('https://fonts.googleapis.com/css2?family=Mulish&family=Ovo&display=swap');

:root {
    --line-border-fill: #3498db;
    --line-border-empty: #e0e0e0;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Mulish';
    background-color: #f6f7fb;
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 30px;
  max-width: 100%;
  width: 350px;
}

.progress-container::before {
    content: '';
    background-color: var(--line-border-empty);
    position: absolute;
    top: 50%;
    left: 0;
    height: 4px;
    width: 100%;
    transform: translateY(-50%);
    z-index: -2;
}

.progress {
    background-color: var(--line-border-fill);
    position: absolute;
    top: 50%;
    width: 0%;
    z-index: -1;
    height: 4px;
    transform: translateY(-50%);

}

.circle {
    background-color: #fff;
    color: #999;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: grid;
    place-items: center;
    border: 4px solid var(--line-border-empty);
}

.circle.active {
    border: 4px solid var(--line-border-fill)
}

.btn {
    background-color: var(--line-border-fill);
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
    font-family: inherit;
    padding: 8px 30px;
    margin: 0;
    font-size: 14px;
}

.btn:active {
    transform: scale(.98);
}

.btn:focus {
    outline: 0;
}

.btn:disabled {
    background-color: var(--line-border-empty);
    cursor: not-allowed
}